body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

span.field-validation-error {
    color: red;
    font-weight: bold;
}
/*Bootstrap Overrides*/
.navbar-inverse {
    background-color: crimson;
    border-color: crimson;
}

 .navbar-inverse .navbav-nav > li > a {
     color: #fff;
 }

    
 .navbar-inverse .navbar-brand {
     color: #fff;
 }

    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
        background-color: rgba(185, 11, 11, 0.74);
    }

    .navbar-inverse .navbar-nav > li > a {
        color: white;
    }
.dropdown-menu {
    box-shadow: none;
    -webkit-box-shadow: none;
}

body {
    font-size: 17px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Lato', sans-serif;
    color: inherit;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    font-size: 20px;
    padding: 20px 15px;
    -ms-border-radius: 9px;
    border-radius: 9px;
}

.form-control:focus {
    border-color: #2196f3;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.btn {
    font-size: 17px;
    padding: 7px 20px;
    -ms-border-radius: 9px;
    border-radius: 9px;
}

.navbar-brand {
    font-weight: 700;
}

